/* Register Section */

.required-span{
    color: red;
}

/* Login Section */

.login-forgot-password{
    display: block;
    margin-top: .75rem;
    margin-bottom: .75rem;
    font-family: 'Roboto', sans-serif;
}

/*Contact Us Header Section */

.contact-us-header-section{
    padding-top: 12rem;
    padding-bottom: 11rem;
    background-color: #5b965e;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.contact-heading{
    font-size: 4rem;
}
.contact-subheading{
    padding-top: 1rem;
    font-size: 1.3rem;
}

/*Contact Us User Entry Section */

.user-entry-section{
    padding-top: 5rem;
    padding-left: 3rem;
    padding-bottom: 5rem;
    text-align: left;
    color: white;
}
.confirm-msg{
    font-family: 'Raleway', sans-serif;
    font-weight:500;
    font-size: 1.1rem;
}

/* Forgot Password Section */

.fp-input{
    font-family: 'Raleway', sans-serif;
    margin-bottom: 1rem;
}
.fp-subheading{
    color: #363636;
    font-family: 'Raleway', sans-serif;
    padding-top: .5rem;
}
.confirm-fp-msg{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color:#1f4126;
}

/* Reset Password Section */

.confirm-rp-msg{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color:#1f4126;
}

/* Multiple Pages Section */

.entry{
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
}
.invalid-msg{
    color: red;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.login-register-password-bg{
    padding-top: 9rem;
    padding-bottom: 6rem;
    background-color: #5b965e;
}
.login-register-password-user-entry{
    padding-top: 3.25rem;
    padding-bottom: 4rem;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: #dcfade;
    text-align: left;   
    margin: auto;
    width: 50%;
    box-shadow: 1px 1px 3px 2px #464646;
    color: #363636;
}
.login-register-password-header{
    text-align: center;
    color: #363636;
}
.login-register-link{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
}
a.login-register-link{
    margin-left: .4rem;
}
.login-register-section{
    text-align: center;
}
.login-register-entry{
    margin-bottom: 1.5rem;
}