.form-control:focus{
  border-color: #2c5d37;
  box-shadow: 0 0 0 0.25rem rgba(44, 93, 55, .25);
}
.btn:focus{
  border-color: #2c5d37;
  box-shadow: 0 0 0 0.25rem rgba(44, 93, 55, .25); 
}
.app{
  text-align: center;
}
/* Navbar section */

.navbar {
padding: 1.25rem;
color: #2c5d37;
}
#nav-bar{
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: White;
}
#navbar-brand{
  color:#2c5d37;
  font-size: 1.25rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}
.fa-icon{
  margin-right: .5rem;
  color:#2c5d37;
}
.btn{
  margin-right: .5rem;
}

#nav-item-one{
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}
#nav-item-two{
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}
#nav-item-three{
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}
#nav-item-one :hover{
  color:#2c5d37;
}
#nav-item-two :hover{
  color:#2c5d37;
}
#nav-item-three :hover{
  color:#2c5d37;
}

#btn-home-one{
 background-color: #2c602c;
 color:white;
 font-family: 'Raleway', sans-serif;
 font-weight:500;
}
#btn-home-two{
background-color: #2c602c;
color: white;
font-family: 'Raleway', sans-serif;
font-weight:500;
 }
 
/* Intro Section */

div .intro-home{
  padding-top: 7.25rem;
  padding-bottom: 10rem;
}
.company-name{
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 5.75rem;
}
.company-name{
  padding-top: 2rem;
}
.intro-subheading{
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 2.7rem;
  
}
/* Features Section */

.features-section{
padding-top: 2.5rem;
padding-left: 1.6rem;
padding-right: 1.6rem;
padding-bottom: 2.5rem;
}
.baking-img{
  border-radius: 50%;
  width: 25rem;
}
.first-feature-caption{
  text-align: left;
  padding-right: 5.25rem;
}
.first-feature-caption-p{
  font-family: 'Raleway', sans-serif;
  color: #464646;
  font-weight: 500;
  font-size: 1.11rem;
  margin-top: .6rem;
}
.first-feature-caption-header{
  color: #2c5d37;
  font-family: 'Roboto', sans-serif;
}
.call-to-action-section{
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: #2c602c;
  color: white;
}
.cta-btn{
  margin-top: 1.25rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  background-color: whitesmoke;
}
.cta-h1{
  font-size: 3rem;
}
.copyright-section{
  padding-top: 1.5rem;
  padding-bottom: .75rem;
}
.FA-Icon{
  padding-right: .75rem;
  padding-bottom: .75rem;
  color:#464646;
}
.copyright{
  font-family: 'Raleway', sans-serif;
  color:#464646;
}